<%- include('partials/header'); -%>

    <div class='form'>
        <h1 id="comptitle">Compose</h1>
        <form action="/compose" method="post">
            <div class="mb-4">
                <label for="title" class=" form-label compStyle">Title</label>
                <input type="text" class="form-control" name="postTitle" id="title">
            </div>
            <div class="mb-4">
                <label for="postarea" class=" form-label compStyle">Post</label>
                <textarea class="form-control" name="postArea" id="postArea" rows="6" required></textarea>
            </div>
            <button class="btn btn-primary buttonCompose" type="submit" name="button">Publish</button>
        </form>
    </div>

    <%- include('partials/footer'); -%>