<%- include('partials/header'); -%>

<h2>Contact:</h2>
<a href="https://www.linkedin.com/in/maxwell-salazar-2813ba231/" target="_blank"><img class="social-img" src="/img/linkedin.png" alt="Linkedin-img"> </a>
<a href="https://github.com/xamrof" target="_blank"><img class="social-img" src="/img/github.png" alt="github-img"> </a>

<%- include('partials/footer'); -%>